  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>This is mail template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% for d in data %}

    {% if d.order_status == 'Order Accepted'  %}

   <p>Order Accepted {{d.product_id.product_name}},</p> 
    {% endif %}   
    {% if d.order_status == 'Order Rejected'  %}

   <p>Order Rejected {{d.product_id.product_name}},</p> 
    {% endif %}  
</html>